extends layout

block logout

block content
    -data = data || {}

    h1(class="textCenter")="Please Login"
    div(class='auth')
        div(class="workoutcard")
            form(action="./login" method="POST" class="authForm padding-top-16px")
                label(for="username") Username:
                input(
                    type="text"
                    id="username"
                    name="username"
                    value=data.username
                )

                label(for="password") Password:
                input(
                    type="password"
                    id="password"
                    name="password"
                    value=data.password
                )

                input(type="submit" value="Login!" class="button")

                if errors
                    ul
                        for error in errors
                            li(class='error')= error.msg

            h4='If you do not have a user, you can '
                a(href='/auth/registration') register here
