extends layout

block content
    -data = data || {}
    div(class="workout")
        h1= title
        p You can Add a new Program here
        form(action="/program/add" method="POST" class="workoutForm")
            label(for="programName") Program Name:
            input(
                type="text"
                id="programName"
                name="programName"
                value=data.programName
            )
            
            input(type="submit" value="Submit")