extends layout

block content
    -data = data || {}

    form(action="./registration" method="POST")
        label(for="username") Username:
        input(
            type="text"
            id="username"
            name="username"
            value=data.username
        )

        label(for="password") Password:
        input(
            type="password"
            id="password"
            name="password"
            value=data.password
        )

        input(type="submit" value="Submit")

        if errors
            ul
                for error in errors
                    li= error.msg