
if workoutProgram

    div(class="workoutcard")
        h2= workoutProgram.name
        hr
        each excersise in workoutProgram.workouts
            p 
                b #{excersise.exercise}: (#{excersise.repsOrTime} / #{excersise.set})
    
        div(class="buttons")
            button(onClick=`goToDetails('${workoutProgram._id}')`) Show Details
            button(onClick=`addWorkout('${workoutProgram._id}')`) Add workout to program

